section.committeePopUp#allied
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") JCC - Allied Powers
		h2.comSubhead Continuous Crisis
		p(style="font-weight: bold") Agenda: Rising Tensions in the European and Pacific Regions
		p(style="font-weight: bold") 
			| “Peace is more than just an absence of war. True peace is Justice, true peace is Freedom, and true peace dictates the recognition of human rights’’
			br
			| - Ronald Reagan
		p 
			| We, the Executive Board of the Joint Crisis Committee, expect delegates to engage in multi-dimensional debate, which includes the socio-economic, political and military aspects of this conflict. These War Cabinets will replicate the elements that led up to this historic clash, ensuring a memorable experience for all those who wish to undertake this adventure. In the words of Robert Frost, “Two roads diverged in a wood, and I, I took the one less travelled by, And that has made all the difference."
			br
			br
			| One of the deadliest wars, recording an approximate of 80 million deaths as a result of famines, genocides, and long, brutal battles, World War 2 has left an indelible mark on human history. Yet many overlook the underlying reasons that led to this conglomeration of multiple battles across the Pacific, African, Asian and European frontiers. 
			br
			br
			| Today, the Allies of the Great War will come together once again, this time to prevent the advent of war and to keep the world from falling into the hands of the Rome-Berlin-Tokyo Axis. Our hard-earned peace must not be lost to the anarchic, lawless forces of these ruthless regimes, and this great responsibility to maintain stability in this tumultuous world lies with us today. 
			br
			br
			| We have fought diligently and forcefully for the establishment of this fragile world order, based on the principles of harmony and collaboration among the nations of the world, yet countries continue to violate international laws and build up armaments for the purpose of inciting conflict. These totalitarian war-mongering regimes must be subdued, and their reign of terror must be put to an end. Our priority, however, must continue to be the promulgation of peace and non-violence. 
			br
			br
			| In such an agitated period, we must uphold and reinforce our commitment to the policy of peaceful reconciliation, and make it stronger than ever. For this purpose, the leaders of the free world, Franklin D. Roosevelt, Winston Churchill, Neville Chamberlain and Édouard Daladier convene this special conference of the Allied Powers, calling upon our most virtuous, dedicated, trustworthy and steadfast bureaucrats and commanders to fend off the greatest threat we have ever faced in this new age of peace. We must ensure the neutralization of the menace that the Roberto Axis can develop into. We must ensure that our free world is not another casualty of the disease that is war. 
			br
			br
			| We hope to see you this April! 
		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/ishaanKanudia.JPG").secCardPicture
				div.secCardContent
					p.secCardName Ishaan Kanudia
					p.secCardDesignation 
						| Director
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/raghavSarangi.JPG").secCardPicture
				div.secCardContent
					p.secCardName Raghav Sarangi
					p.secCardDesignation 
						| Director

			