section.committeePopUp#axis
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") JCC - Axis Powers
		h2.comSubhead Continuous Crisis
		p(style="font-weight: bold") Agenda: Rising Tensions in the European and Pacific Regions
		p(style="font-weight: bold") 
			| “War is peace. Freedom is slavery. Ignorance is strength.”

			br
			| - George Orwell
		p 
			| We, the Executive Board of the Joint Crisis Committee, expect delegates to engage in multi-dimensional debate which includes the socio-economic, political and military aspects of this conflict. These War Cabinets will replicate the elements that led up to this historic clash, ensuring a memorable experience for all those who wish to undertake this adventure. In the words of Robert Frost, “Two roads diverged in a wood, and I, I took the one less travelled by, And that has made all the difference."
			br
			br
			| One of the deadliest wars, recording an approximate of 80 million deaths, World War 2 has left an indelible mark on human history. Yet many overlook the underlying reasons that led to this conglomeration of multiple battles across the Pacific, African, Asian and European frontiers.
			br
			br
			| The Axis Powers have been called upon to unite against the Western Allies who continuously seek to impose their will over Central Europe, Africa, Asia and now, our nations. The threat they pose to our serve ignite is, dangerous, immediate and more prominent than ever.
			br
			br
			| Our nations have been mistreated continuously by the deceitful and immoral Western Powers. The great land of Germany was humiliated at the harsh Treaty of Versailles, forcing it into an economic crisis which had long lasting effects. Italy was cheated and lied to by the Allies and was not provided with the land promised to it despite its great war effort. Japan was robbed of all its natural resources and was stripped of its dignity. 
			br
			br
			| Adolf Hitler, Benito Mussolini and Michinomiya Hirohito demand the presence of their most loyal, experienced and driven officials in order to combine their efforts to strive for a world where Western politics and bureaucracy does not impede the development of sovereign nations such as ours. In this special session of the Axis Powers we must prevent the hegemony of the plutocratic Western powers. Our nations have been subjected to cruel treatment by the West, and today we mark the end of this. Today we establish the new epicentres of the world: Rome, Berlin and Tokyo. We reclaim the lost glory and dignity of our nations. The Roberto Axis must stand tall and more powerful than ever. 
			br
			br
			| We hope to see you this April! 
		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/kartikGupta.JPG").secCardPicture
				div.secCardContent
					p.secCardName Kartik Gupta
					p.secCardDesignation 
						| Director
			