section.committeePopUp#disec
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") Disarmament and International Security Committee 
		h2.comSubhead United Nations General Assembly
		p(style="font-weight: bold") Agenda: Weaponization of non-state actors with special emphasis on Weapons of mass destruction (WMDs)
		p 
			| The origins of the modern tactic of terrorism can be traced back to Jewish Sicarii Zealots that attacked Romans and Jews in 1st century Palestine. Modern-day terrorism stemmed from the geopolitical disruption across the globe during the Cold War. The Military Tactic of creating internal proxies within war infested regions was first transcribed by the CIA in its operation ‘Cyclone’. 
			br
			br
			| In recent times, multiple organizations have used unlawful violence and intimidation, especially against civilians, in the pursuit of political aims. These groups use terrorism as an instrument to spread their propaganda. These organizations are commonly referred to as violent non-state actors (VNSAs). The weaponization of non-state actors has been a matter of immense concern for the international community. When the Islamic State of Iraq and Syria started gaining power in 2014, it prepared itself for engaging in conventionnel warfare against militaries from across the globe. ISIS began its weaponry production program using imported parts from unidentified sources, something that no other terrorist organization was able to accomplish earlier. 
			br
			br
			| The usage of drones by the VNSAs for terrorist activity has recently increased at an alarming rate. The possession and use of such technology by these organizations is a major concern as it allows VNSAs to carry out swift attacks without damaging much to their infrastructure. The Houthis, Al-Qaeda, Hamas and Hezbollah are some of the few VNSAs known to possess drone technology. The recent occurrences such as the Houthis securing Inter Continental Ballistic Missiles (ICBMs) bring us closer to noon on the Doomsday Clock. 
			br
			| While the possession of these technologies by the VNSAs already puts global peace at stake, the international community cannot overlook the threat of these organizations availing weapons of mass destruction. These chemical, biological, radiological and nuclear weapons are capable of causing large scale destruction. Several reports claim that various non-state actors are capable of building WMDs (if they don’t already possess them). 
			br
			br
			| UN Security Council Resolution 1540 signed and adopted in 2004 and Resolution 2235 adopted in 2016 focused on preventing WMDs from reaching the non-state actors. Treaties and conventions such as the Arms Trade Treaty (ATT), Chemical Weapons Convention (CWC), Biological weapons Convention (BWC), the Nuclear Non-Proliferation Treaty (NPT) help push the agenda for the restriction and limitation of the trade and production of WMDs by member nations of the United Nations. However, considering terrorist organisations still pose an active threat to international security, there is scope for improvement. 
			br
			br
			| The analysis of the agenda, understanding the dynamics of international and regional politics, and the incentive of terrorist organizations to acquire the latest weapons need to be considered by the delegates. It is up to you, as delegates of the Disarmament and International Security Council to come up with concrete and innovative solutions to tackle this issue and to prevent the threat of terrorist organizations from further acquiring WMDs and ways to eliminate those that already exist. 

		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/akshitGupta.JPG").secCardPicture
				div.secCardContent
					p.secCardName Akshit Gupta
					p.secCardDesignation 
						| Director

		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/akshajGyaneshwar.JPG").secCardPicture
				div.secCardContent
					p.secCardName Akshaj Gyaneshwar
					p.secCardDesignation 
						| Additional Director