section.committeePopUp#ecofin
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") The Economic and Financial Committee
		h2.comSubhead United Nations General Assembly
		p(style="font-weight: bold") Agenda: Development in Post-Conflict Regions
		p 
			| The world has seen its fair share of conflicts. Be it small insurgencies, military coups, or full-blown interstate disputes, such tussles have existed since the dawn of civilization. History has witnessed time and time again, the devastating aftermaths of bloodshed and battles, and the most catastrophic effect is on the general public. Looking at just the last century itself, the amount of damage to human life is calamitous. But these effects aren’t temporary, short term inconveniences, rather, they’re ramifications that can hinder further development for years to come. In the 20th Century alone, the world experienced two World Wars, the Cold War and several large conflicts all over the globe. Retrospectively, these conflicts seem fairly ancient. But even the consequences of these “ancient” conflicts affect individuals to this day. 
			br
			br
			| The dynamic political scenarios of the past have led to inequitable growth around the globe. The post-colonial nations in Asia were never compensated for the pillaging they experienced. The new-born wave and growth of organised crime groups in Latin America were never tackled appropriately due to a lack of aid. Much of Africa experienced supply shocks, and the Middle East became a battlefield. Before the world realised, neo-colonialism led most underdeveloped nations into a similar state as they were when under colonial rule, now, with an illusion of independence. Intrinsically, due to historical factors, most of the world is put in a disadvantaged situation where their scope for development is inhibited. 
			br
			br
			| But it is the current situation in these post-conflict regions that make the topic more important to address. Most of the nations in the regions mentioned above face several common issues such as a lack of education and healthcare facilities, financial exclusion, poor job opportunities, violence and terror, and other similar issues prohibit many from experiencing a basic standard of living. With another speculated global recession scheduled for 2020, the regions that will be most affected, are the least equipped to deal with such contingent possibilities. 
			br
			br
			| However, while the situation may seem hopeless, the world is also now more equipped than ever to deal with these issues. The international community over the last decade itself has made several strides to improve the current situation but there is still scope for improvement. The world now, more than ever, needs to collaborate to prevent devastating social crises, with cooperation from well-off and developing nations and such is the duty tasked to you. 
			br
			br
			| As delegates of the Economic and Financial Committee, you are given the job to develop plans that foster development in post-conflict regions using the resources and facilities of the Second Committee. Your ideas can help in bringing about a drastic positive change to the current state of several regions. 

		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/aryaveerSingh.JPG").secCardPicture
				div.secCardContent
					p.secCardName Aryaveer Singh
					p.secCardDesignation 
						| Director

		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/arunimaKaul.JPG").secCardPicture
				div.secCardContent
					p.secCardName Arunima Kaul
					p.secCardDesignation 
						| Additonal Director

			