section.committeePopUp#loksabha
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") Lok Sabha
		h2.comSubhead Indian General Assembly
		p(style="font-weight: bold") 
			| Agenda A:  Indian Economy with Special Emphasis on 2020 Union Budget 
			br
			| Agenda B: Armed Forces Special Powers Act 
		p 
			| The Lok Sabha, or House of the People, is the lower house of the Indian parliament. Lok Sabha consists of representatives elected by the citizens of India from each of the 543 parliamentary constituencies. The citizens of India elect their representatives not only to bring development at the local level but to contribute towards the betterment of the nation as a whole, we see our leaders as change makers and we as citizens look at development as collective change. Lok Sabha continues for five years from the date appointed for its first meeting, unless dissolved sooner, to the expiration of the period of five years. The Lok Sabha performs many useful functions. Firstly, legislative functioning, Lok Sabha plays an important role in the law-making procedure. Secondly, financial functioning, the Lok Sabha is really powerful as only this body can table Money Bills. The parliamentarians would be in a position of great responsibility, which they are expected to fulfil with great effort and honesty. “Leadership is the intelligent use of power” Use it wisely! 
			br
			br
			br
		p(style="font-weight: bold") Indian Economy with special emphasis on 2020 Union Budget 
		p
			| The Modi administration shall soon be marking a year into their second term, a year that modern history may remember to be either as Annus horribilis (latin for a horrible year) or as Anno Aetatis (latin for a momentous year), for never has an administration, in the modern times, had the backbone or the means to be able to leverage the changes that the Modi Government has in its first year since the elections. Whether it be the abrogation of Article 370, or in fact the most disputed implementation of the CAA, change has since become a new normal in India. However, the Indian Economy has been anomalous to this recent trend. Since the announcement of the Budget in 2019, spearheaded by the Finance Minister Nirmala Sitharaman and her team of bureaucrats and economic advisors, the Indian Economy seems to be going through what the impoverished Indian farmers, whose suicide rates have increased exponentially since the onset of the various anti-agrarian financial strategies implemented by the government, would describe as “a dry spell”. Economists across the country have been expressing their concerns towards the economic slowdown that India is experiencing and have deemed the 5 trillion-dollar economy goal, one which was celebrated immensely upon its announcement, as a dream far away from reality. As if the concerns of these scholars weren’t deemed merit worthy, the IMF and the World Bank have both recognized immediate action towards the Indian economy in the past few weeks. With the new budget announcement coming on the 1st of February, the nation awaits the measures that the government might take to save the Indian Economy from plunging into an abyss from where we may not find our way back. Will this budget bring in the much needed investments and boost demand or will it once again fail to achieve the bilateral development of both urban and rural India? This Budget is not just a financial proposition as many may think, it is a contract between the government and the impoverished working class of this country and the asset at stake is their future.
		br
		p(style="font-weight: bold") Armed Forces Special Powers Act
		p
			| Violence has become a way of life in disturbed areas such as the North-East and Jammu and Kashmir, which witnessed a wave of radical movements mainly based on separatist ideologies spread by various groups in these regions. 
			br
			br
			| The demand for a separate state took a radical turn in the where militant and separatist groups put the state of Kashmir in a dangerous situation where the valley was gripped with fear of not being given due recognition by the government of India. Insurgency in the North-East is also an example of the influence of radical separatist groups on the people, fighting for a separate state under the fear of being discriminated and not being given rights by the union, these movements ended up taking a violent turn in the north-east. 
			br
			br
			| To control violence in these states and to safeguard administrative functioning the government of India enacted the controversial AFSPA, giving the armed forces the freedom to take action in ‘disturbed areas’. 
			br
			br
			| AFSPA still remains as a point of contention in the insurgency hit state of Jammu and Kashmir and the North-East in Socio-Political unrest and even in the country as a whole where many in the opposition have asked for the repeal of the ‘controversial act’. People have begun to question the existince of the Act due to rape cases, human rights violations and unmarked massacres. Civilians are mistreated with no accountability to the army under the shade of the Armed Forces Special Powers Act. The Government of India is against its repeal as it feels that the act is critical in maintaining the current boundaries of the country, and without it the armed forces would be unable to tackle the insurgents inside the country. The Armed Forces Special Powers Act came under great controversy, being criticized by various human rights organisations, as the act gives the military the authority to take action in disturbed areas and arrest people without warrant which has, according to these organisations, been misused by individuals in the military. As representatives of various constituencies, you would be expected to carefully debate upon this act and question its purpose and framework. However, a matter so pertinent seemingly poses just one loud interjection: should this Act be removed, thus effectively removing all military empowerment in disturbed regions or should it be continued in all its capacity and implementation, thus removing all humanitarian accountability towards the citizens living in such fragile situations 


		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/nikitaSrivastava.JPG").secCardPicture
				div.secCardContent
					p.secCardName Nikita Shrivastava
					p.secCardDesignation 
						| Director
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/tapas.JPG").secCardPicture
				div.secCardContent
					p.secCardName Tapas Devaiah
					p.secCardDesignation 
						| Director
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/avyuktSachdeva.JPG").secCardPicture
				div.secCardContent
					p.secCardName Avyukt Sachdeva
					p.secCardDesignation 
						| Additional Director

	