
<section class="committeePopUp" id="committeeName">
  <div class="widthRestriction"><a id="close">
      <h1 style="margin: 0; padding: 0; float: right; font-size: 20px">&#10060;</h1></a>
    <h1 class="head" style="font-weight: bold; margin: 0; margin-top: 40px">Special Assembly of the National Convention 1793</h1>
    <p style="font-weight: bold"> </p>
    <p>
       Since the inception of Model UN in Sanskriti, we have striven to bring forth to the circuit a conference driven by passion, innovation and the spirit of collaboration. Year after year, we have been honoured and privileged to host some of the most intelligent minds of the current generation, in the form of high school students, collaborating with one another to create intricate policies, resolve crises and invest themselves in positions they have experienced only in the realms of their minds.</p>
    <h2 style="color:#3D3D3D">Committee Resources</h2><a href="#">
      <button>Background Guide</button></a><a>
      <button>Matrix</button></a>
    <h2 style="color:#3D3D3D">Updates</h2>
    <p>
      <ul>
        <li><strong>Sample update</strong><br/>This is a sample update experienced only in the realms of their </li>
      </ul>
    </p>
    <h2 style="color:#3D3D3D">The Executive Board</h2>
    <div class="column-4">
      <div class="secCard" style="background-color: #FFFFFF"><img class="secCardPicture" src="images/secProfiles/avyuktSachdeva.JPG"/>
        <div class="secCardContent">
          <p class="secCardName">Avyukt Sachdeva</p>
          <p class="secCardDesignation">
             Additional Director</p>
        </div>
      </div>
    </div>
  </div>
</section>