section.committeePopUp#unca
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") United Nations Correspondents Association
		h2.comSubhead Press Corps
		p 
			| Journalism is the beacon of hope, the instigator of violence and the albatross looped across the globe. In a world just like its pages, predominantly black and white, the art of journalism remains nestled within the grey, often demanding justice, else provoking chaos. 
			br
			br
			| Since its very inception in 1948, the United Nations Correspondents Association has endeavoured to collect stories from across the globe and record momentous instances that have shaped the socio-political landscape of the world as we know it today. As follows, you, as a member of perhaps one of the most volatile, engaging and challenging committees, will essay the roles undertaken by these brave individuals who have fabricated the history of mankind. 
			br
			br
			| As members of the UNCA, journalists will be tasked with the responsibility of critically analysing the cogent debate transpiring in their assigned committees through articles that not only report but also critique, scrutinize and elucidate the agenda at hand. They will be expected to submit pieces that adhere to their respective agency biases, prior to the deadlines that are imposed. Furthermore, the Press Crisis will encourage journalists to rise above their standing as exclusively reporters to torchbearers of the democratic purpose that will establish their significance in society. 
			br
			br
			| Attempting to persuade their readership and convey their political inclinations, cartoonists will be assigned meticulous tasks to fulfil the foregoing through witty and satirical caricatures. They will provide a metaphorical and comical insight into the parliamentary discourse occurring within their committees, while also maintaining artistic calibre through the strokes of their chosen instruments.
			br
			br
			| Photographers possess the unique ability of depicting the reality of the conference with the click of a lens. Working in stark contrast to the illusions portrayed by committees, photographs seek to highlight the people that constitute the integral components of the simulation. Hence, photographers will be required to journey from committee to committee, capturing the happenings of the conference and bringing SMUN to life.
			br
			br
			| In a world so fragmented, it is the Fourth Estate that is tasked with cradling our fate, buried in the tethered pages of destiny; the newspaper - the first draft of worded history.
			br
			br
			| Feel free to personally contact any of us or email us at the aforementioned email IDs, in case you have any doubts or queries. We hope to see you in April!

		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/arjunKochhar.JPG").secCardPicture
				div.secCardContent
					p.secCardName Arjun Kochhar
					p.secCardDesignation 
						| Editor-in-chief
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/ishaniKhemka.JPG").secCardPicture
				div.secCardContent
					p.secCardName Ishani Khemka
					p.secCardDesignation 
						| Head of journalists
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/anmolMaini.JPG").secCardPicture
				div.secCardContent
					p.secCardName Anmol Maini
					p.secCardDesignation 
						| Editor
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/shreyasMenon.JPG").secCardPicture
				div.secCardContent
					p.secCardName Shreyas Menon
					p.secCardDesignation 
						| Head of cartoonists
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/rushilBatra.JPG").secCardPicture
				div.secCardContent
					p.secCardName Rushil Batra
					p.secCardDesignation 
						| Head of Photography
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/srijanTripathi.JPG").secCardPicture
				div.secCardContent
					p.secCardName Srijan Tripathi
					p.secCardDesignation 
						| Head of Photography			