section.committeePopUp#uncsw
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") United Nations Commission on the Status of Women
		h2.comSubhead Economic and Social Council
		p(style="font-weight: bold")
			| Agenda A: Sexual and Reproductive Health and Rights of Women (SRHR)
			br
			| Agenda B: Ethical and Legal Conflicts Surrounding Commercial Surrogacy
		br
		p(style="font-weight: bold") Sexual and Reproductive Health and Rights of Women (SRHR)
		p 
			| As enshrined in the Universal Declaration of Human Rights, sexual and reproductive rights are human rights that include the right to exercise autonomy in sexual and reproductive decision-making, the right to privacy, and the right to be free from sexual violence. However, despite the state obligations to respect, protect and fulfil rights regarding women’s sexual and reproductive health, violations of SRHR are frequent. Women face many issues such as the denial of access to reproductive services, the performance of procedures related to women’s sexual and reproductive health without appropriate consent, such as forced sterilization and forced abortion, female genital mutilation (FGM) and early marriage.
			br
			br
			| Sexual and reproductive rights are strongly connected to the closely related concepts of consent and choice. Consent focuses on being able to make decisions for your body on your own without any external influence, coercion or manipulation. A woman’s consent, however, is often disrespected or undervalued. This leads to sexual assault. The World Population Review of 2020 has estimated that at least 35% of all women have experienced some form of sexual assault but less than 10% of these women seek legal help in exercising their sexual and reproductive rights in such cases.
			br
			br
			| While the third wave of feminism brought choice into the purview of discussion, there continues to be a major lack of appropriate legal procedures that allow women to exercise the right to choose. This can particularly be seen in the case of the global status of abortion. According to the World Health Organization, over 23,000 women die of unsafe abortions each year and almost 700 million more experience significant health complications. The topic of abortion continues to have a lot of negative connotations attached to it, arising from the various religious and cultural norms that most societies follow. The stark binary division between pro-choice and pro-life supporters can be seen at even the most local levels and it is now imperative to properly define the boundaries of “choice” and “self”.
			br
			br
			| Women also face endless barriers when it comes to maintaining their sexual and reproductive health. Various factors impede their access to medical consultation, contraception, sanitary facilities, menstrual products, and education and information regarding their sexual and reproductive health and rights. This often results in unplanned pregnancies and unsafe labour procedures, both of which can lead to serious health complications for both the mother and the child. These restrictions also heighten the chances of acquiring and spreading sexually transmitted infections (STI).
			br
			br
			| The most controversial issue by far remains the conflict surrounding the rights of sex workers. The legality of the commercial sex industry has been debated world over but no consensus has been reached. The criminalisation of sex work provides leeway for perpetrators to exploit women by making them victims of sexual trafficking, extorting bribes from them, and subjecting them to physical and/or verbal abuse.
		br
		p(style="font-weight: bold") Ethical and Legal Conflicts Surrounding Commercial Surrogacy
		p 
			| Surrogacy refers to an arrangement, typically supported by a legal agreement, whereby a woman, the surrogate mother, agrees to bear a child for another person(s) who will become that child’s legal parent(s) after the birth. Surrogacy may either be traditional or gestational. Traditional surrogacy involves artificial insemination, and so the child is biologically related to the surrogate, while in gestational surrogacy an embryo is transferred to the surrogate and there is no genetic link between the two. A legal distinction can be drawn between commercial and altruistic surrogacy. If the surrogate is compensated for her labour beyond the reimbursement of reasonably incurred medical expenses, it is considered commercial surrogacy. There are two major facets of the debate around commercial surrogacy: ethical dilemmas and legal conflicts.
			br
			br
			| The ethical aspect of the debate surrounding commercial surrogacy revolves around whether a woman’s reproductive labour is inherently different from other forms of paid work. Many believe that surrogacy arrangements are a way for women to gain economic independence, regardless of their level of education or social status and, as such, empower women. The concept of consent also enters the discussion, as many believe that surrogacy arrangements are morally sound if they are made among informed and consenting adults. If women are to have reproductive freedom, they must be free to make their own decisions regarding surrogacy. The debate around legalised surrogacy, in this case, becomes an extension of the debate around bodily autonomy and consent. Further, many advocate for surrogacy as they feel it is essential for people who are unable to bear children to start a biological family.
			br
			br
			| Those opposed to commercial surrogacy argue that it amounts to the instrumentalization of the female body for profit and is unethical. Surrogates face great threats to their rights, such as in cases where they are coerced into a surrogacy agreement. They risk adverse effects on their physical and psychological health and the loss of their bodily autonomy during the pregnancy. In the case of an unfavourable pregnancy, they are unlikely to be paid. The question of whether consent can truly be given in cases of financial desperation also arises: how much choice do these women really have? Commercial surrogacy seems to place disenfranchised women at the economic and emotional mercy of privileged couples. Further, commercial surrogacy also leaves the intended parents and the child vulnerable to the violation of their rights. The parents often have to fight legal battles to gain custody of their child, as there is little clarity regarding guardianship. When the surrogacy agreement is international, there are often problems related to the citizenship of the child. Moreover, placing stricter regulations on surrogacy arrangements may lead to higher adoption rates.
			br
			br
			| Surrogacy holds a tenuous legal status around the world. Several countries, including France, Germany, and Pakistan, have outlawed both commercial and altruistic surrogacy, while others permit only altruistic forms of surrogacy. Various countries have legalised all forms of surrogacy, and there are some where surrogacy is completely unregulated. Another matter of contention within the legal aspect of the agenda is the issue of guardianship. Who should be the legal guardian of a child born through a surrogacy arrangement? Should this differ based on whether the surrogacy is traditional or gestational?
			br
			br
			| As members of the UNCSW, delegates will be expected to understand the contemporary global scenario and present realistic, well thought through solutions.

		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/aditiTuli.JPG").secCardPicture
				div.secCardContent
					p.secCardName Aditi Tuli
					p.secCardDesignation 
						| Director
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/mallikaSharma.JPG").secCardPicture
				div.secCardContent
					p.secCardName Mallika Sharma
					p.secCardDesignation 
						| Director			