section.committeePopUp#unsc
	div.widthRestriction
		a#close.close
			h1(style="margin: 0; padding: 0; float: right; font-size: 20px") &#10005;
		h1.head(style="font-weight: bold; margin: 0; margin-top: 40px") United Nations Security Council
		p(style="font-weight: bold") Agenda: The situation in East Pakistan - December 5, 1971
		p 
			| The United Nations Security Council is the primary organ of the United Nations charged with the responsibility of maintaining international peace and security. It is the only body in the UN that can pass resolutions that are legally binding on all member states. It comprises of 15 members of which five are Permanent Members - the People’s Republic of China, the French Republic, the Russian Federation, the United Kingdom and the United States of America - and ten are elected every two years by the General Assembly. The Security Council provides an ideal platform for delegates to fathom the true essence of international relations, power politics and diplomacy and address the major issues faced by the international community as a whole.
			br
			br
			| December 5, 1971
			br
			| The night of March 25, 1971 brought disastrous violence to East Pakistan. The President of Pakistan declared that the military has been instructed to do its job in maintaining the “...integrity, solidarity and security of Pakistan.” Over the next few months, the Pakistani military ruthlessly attacked and destroyed the perceived centres of Bengali presence and nationalism. Facing little opposition, the military established control over most of East Pakistan.
			br
			br
			| Since independence, the Bangladeshi Muslims in East Pakistan have felt alienated and marginalised. In 1960, not more than one-third of the Pakistani Bureaucracy were from East Pakistan. The language of the East Pakistan, Bangla, has also not been adopted as one of the national languages, along with Urdu. The leader of the main opposition party, the Awami League, Sheikh Mujibur Rahman has been imprisoned many times by the military government of Pakistan. A demand for autonomy was rejected outright by the former President, Mr. Ayub Khan.
			br
			br
			| After Pakistani forces started operations in East Pakistan, the Awami League formed a government in exile in India and declared Bangladesh to be an independent State on April 17, 1971. In May 1971, over 1,500,000 refugees went over the border to India with almost 60,000 more arriving every day while mass executions and genocidal rape run riot throughout East Pakistan.
			br
			br
			| A group called the Mukti Bahini, operating from camps within India, has pushed back Pakistani forces but have not been able to win a comprehensive military victory.
			br
			br
			| Alleging Indian assistance to the Mukti Bahini and alleged Indian operations in East Pakistan, Pakistan bombed Indian airfields in the northwest of the country on December 3, 1971. Consequently, India has declared war and has launched its military operations in East Pakistan. An Indo-Pakistan War is threatening to destabilise South Asia once more.
			br
			br
			| The Security Council will convene on December 5, 1971 and the world will be watching.
			br
			br
			| The President
			br
			| United Nations Security Council
		
		//- h2(style="color:#3D3D3D") Committee Resources
		//- a(href="#")
		//- 	button Background Guide
		//- a
		//- 	button Matrix
		//- h2(style="color:#3D3D3D") Updates
		//- p
		//- 	ul
		//- 		li
		//- 			strong
		//- 				| Sample update
		//- 			br
		//- 			| This is a sample update experienced only in the realms of their 

		h2(style="color:#3D3D3D") The Executive Board
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/aadyotPrakash.JPG").secCardPicture
				div.secCardContent
					p.secCardName Aadyot Prakash
					p.secCardDesignation 
						| Director
		//- Card init
		div.column-4
			div.secCard(style="background-color: #FFFFFF")
				img(src="images/secProfiles/karthikayKatariya.JPG").secCardPicture
				div.secCardContent
					p.secCardName Kartikay Kataria
					p.secCardDesignation 
						| Director

			