body
	section.nonPopUp#nonPopUp
		include partials/topnav.pug
		include partials/banner.pug
		section.parallax
			include partials/letters.pug
			include partials/secretariat.pug
			include partials/committees.pug
			include partials/contact.pug
	section.popUps#popUps
		section.parallax
			include popUp/disec.pug
			include popUp/ecofin.pug
			include popUp/loksabha.pug
			include popUp/uncsw.pug
			include popUp/unca.pug
			include popUp/ncon1793.pug
			include popUp/unsc.pug
			include popUp/allied.pug
			include popUp/axis.pug
			include popUp/colgad.pug
			//- include popUps/disec.pug
	//- Homebrewed scripts
	script(src="/javascripts/style.js")