
<body>
  <nav id="topnav">
    <div class="widthRestriction">
      <h1 class="logo">SMUN 2020</h1><br/>
      <div class="topnavLinksContainer" id="topnavLinksContainer"><a class="topnavLink">About</a><a class="topnavLink">Secretariat</a><a class="topnavLink">Committees</a><a class="topnavLink">Resources</a><a class="topnavLink">
          <button class="registerButton">Register</button></a></div>
    </div>
  </nav><br/><br/><br/><br/><br/><br/><br/>
  <script src="/javascripts/style.js"></script>
</body>