head
	title Sanskriti MUN 2020
	html(lang="en")
	meta(name="title" content="Sanskriti Model United Nations 2020")
	meta(name="description" content="22nd to 24th April 2020. Aimed at creating intellecutually stimulating debate and dialogue, Sanskriti MUN hopes to create globally aware, diplomatic, free-thinking leaders, and better human beings.")
	meta(name="keywords" content="sanskriti, school, chanakyapuri, new delhi, mun, smun")
	meta(name="charset" content="utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no")
	meta(name="language" content="English")
	meta(name="author" content="Krish Goel · KrishSkywalker")

	meta(property="og:type" content="website")
	meta(property="og:title" content="Sanskriti MUN '20")
	meta(property="og:url" content="https://www.sanskritimun.com/")
	meta(property="og:locale" content="en_IN")
	meta(property="og:description" content="22nd to 24th April 2020. Aimed at creating intellecutually stimulating debate and dialogue, Sanskriti MUN hopes to create globally aware, diplomatic, free-thinking leaders, and better human beings.")

	meta(name="twitter:card" content="website")
	meta(name="twitter:title" content="Sanskriti MUN '20")
	meta(name="twitter:site" content="https://www.sanskritimun.com/")
	meta(name="twitter:description" content="22nd to 24th April 2020. Aimed at creating intellecutually stimulating debate and dialogue, Sanskriti MUN hopes to create globally aware, diplomatic, free-thinking leaders, and better human beings.")

	//- Stylesheet
	link(rel="stylesheet" href="/stylesheets/style.css")

	//- JQuery
	script(src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript")

	//- Font Awesome icons
	//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")