section.committeesSection
	div.widthRestriction
		h1.head(style="font-weight: bold") Committees
		div.cardsContainer
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/disec.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName Disarmament and International Security Committee
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/ecofin.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName Economic and Financial Committee
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/unsc.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName United Nations Security Council
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/hongKong.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName National Convention - 1972
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/uncsw.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName United Nations Commission on the Status of Women
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/unca.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName United Nations Correspondants' Association
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/alliedPowers.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName 
							| Allied Powers 
							br
							| Joint Crisis Committee on World War 2
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/axisPowers.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName 
							| Axis Powers 
							br
							| Joint Crisis Committee on World War 2
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/adHoc.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName Cabinet of Colonel Gaddafi
			//- Card init
			div.column-4
				div.committeeCard
					img(src="images/committees/lokSabha.png").committeeCardPicture
					div.committeeCardContent
						p.committeeCardName Lok Sabha
			//- 
				- DISEC
				- Economic and Financial Committee
				- UNSC
				- UNCSW
				- Special Session on the Future of Hong Kong
				- UNCA
				- JCC on WW2
					- Allied Powers
					- Axis Powers
				- Muammar al-Gaddafi's Cabinet
				- AIPPM