section.contactSection
	div.widthRestriction
		h1(style="padding-top: 20px; margin-bottom: 0").head Contact
		div.row#allContactContent
			div.column-2
				div.columnContent
					h2(style="margin-top: 0") Email
					a.contactLink(href="mailto: munsanskriti@gmail.com") munsanskriti@gmail.com
					br
					br
					
					p.contactText
						| Aarrnesh Kapoor
						br
						| Secretary General
					a.contactLink(href="tel: +91-9811047294") +91-9811047294
					br
					br
					p.contactText
						| Aadyot Prakash
						br
						| Under Secretary General
					a.contactLink(href="tel: +91-9868070058") +91-9868070058
					br
					br
					p.contactText
						| Manisha Choudhary 
						br
						| MUN Coordinator
					a.contactLink(href="tel: +91-9810501965") +91-9810501965
					br
					br
			div.column-2
				div.columnContent
					h2 Address
					p.contactLink
						| Sanskriti School
						br
						| Dr. S Radhakrishnan Marg
						br
						| Chanakyapuri
						br
						| New Delhi - 110021
					br
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112017.8240258068!2d77.07572540186342!3d28.67298024670676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d6b4a5aaaab%3A0xefbb0b157c97e378!2sSanskriti%20School%2C%20Chanakyapuri!5e0!3m2!1sen!2sin!4v1579192244903!5m2!1sen!2sin" width="100%" frameborder="0" style="border:0; border-radius: 10px" allowfullscreen=""></iframe>
p.endLine
	| Made with ❤️ by 
	a(href="https://krishgoel.herokuapp.com").kLink Krish Skywalker