section.introSection
	div.widthRestriction
		h1.head Welcome, delegates
		//- Secretary general letter
		h3.titleOne Dear delegates and faculty advisors
		p
			| It is my distinct pleasure to invite you to the seventh edition of the Sanskriti Model United Nations Conference, in the year 2018.
			br
			br
			| Since the inception of Model UN in Sanskriti, we have striven to bring forth to the circuit a conference driven by passion, innovation and the spirit of collaboration. Year after year, we have been honoured and privileged to host some of the most intelligent minds of the current generation, in the form of high school students, collaborating with one another to create intricate policies, resolve crises and invest themselves in positions they have experienced only in the realms of their minds.
			br
			br
			| At the 2018 edition of the conference, we bring to you a diverse set of committees and agendas, ranging from the most pressing present day conflicts, to ideological wars which began long ago, in the pages of time, but continue to influence geopolitics today. We bring to you new ideas, fresh perspectives, but the continued standard of the Sanskriti Model United Nations Conference – a standard which carries with it the love, respect and admiration of countless hearts in India and elsewhere.
			br
			br
			| I invite you to Sanskriti MUN, not just to be a part of our efforts to ignite the fires of public policy in the hearts of innovative students, but also, to mould the new shape the world is poised to take on today. Whether you are an experienced MUNer, or a novice starting out, I assure you, your ideas will find a place in Sanskriti MUN.
			br
			br
			| I hope to see you in April, and I wish you all the very best.
			br
			br
			| Sincerely,
			br
			br
			img(src="images/secGenSignature.png" style="height: 100px")
			br
			br
			| Lusha Jetley
			br
			| Secretary General
			br
			| Sanskriti Model United Nations 2018
			br
			br
			hr
			br
			//- Under secretary general letter
			h3.titleOne Dear delegates and faculty advisors
		p
			| It is with utmost pride and pleasure that I invite you to join us for the seventh session of Sanskriti Model United Nations from April 25-27, 2018. My name is Gautham Shiva Sreeji, and I will be serving as the Under Secretary General for Sanskriti MUN 2018.
			br
			br
			| For seven years now, Sanskriti Model United Nations has sought to empower, educate and develop the minds of enthusiastic high school students from all over the country and overseas.
			br
			br
			| Over the three days of Sanskriti Model UN we aim to give you a platform to not only learn and develop but show you the importance of compromise and collaboration. We hope that through representing nations whose policies you may not personally agree with and discussing agendas you have not associated with, we instill a sense of rationality within you all, as that is what is most needed in the coming generation. We at Sanskriti aim at creating thinking individuals and there is no better platform for doing so than Sanskriti Model UN. To create the stimulating atmosphere we strive to provide you with, this year we will be simulating a range of committees that your directors have been working relentlessly towards making a success.
			br
			br
			| Our lives begin to end the day we become silent about things that matter.’ - Martin Luther King Junior
			br
			br
			| This April, we invite you to discuss and deliberate upon things that matter. We invite you to think and to learn. On behalf of the entire Secretariat, welcome to the seventh edition of Sanskriti Model United Nations 2018. Please do not hesitate to reach out to us with any queries. We look forward to hosting you in April.
			br
			br
			| Sincerely,
			br
			br
			img(src="images/USGsign.png" style="height: 100px")
			br
			br
			| Gautham Sivaji Sreeji
			br
			| Under Secretary General
			br
			| Sanskriti Model United Nations 2018