section.introSection
	div.widthRestriction
		h1.head#aboutPoint Welcome Delegates
		//- Secretary general letter
		h3.titleOne Dear delegates and faculty advisors
		p(style="font-weight: bold")
			| “Our Lives Begin To End The Day We Stop Speaking About Things That Matter”
		p
			| It is with great pride and pleasure that I welcome you to the ninth edition of Sanskriti Model United Nations which is going to be held from April 22nd to April 24th,2020. 
			br
			br
			| Sanskriti School’s vision statement is to create happy, thinking and feeling individuals who will be future changemakers. Over the last 10 years, Sanskriti Model United Nations has been a platform that has enabled high school students to learn about pressing conflicts in the world ranging from social, economic, cultural and political issues and deliberate to find creative, innovative and sustainable solutions to the problems our troubled world has faced and continuously faces.
			br
			br
			| Model United Nations over the last 4-5 years has proved to be an invaluable learning experience for me. Model-UN has played a significant role in shaping my personality and developing my skills to the level at which they are today. I take great pride in acknowledging the fact that SMUN has had a huge role to play in who I am today, a self-confident leader who wishes to create a positive impact on the lives of the people. 
			br
			br
			| Over the years, we at SMUN have strived to create and provide a setting for passionate youth leaders to learn about pressing global issues, understand different points of view and compromise and collaborate for the greater good. We have always put collaboration over competition and will continue to do so for the years to come.
			br
			br
			| This year at SMUN, we provide you with a diverse range of 10 committees and agendas to choose from. We seek to enhance your delegate experience with the simulation of conventional and unconventional committees like the Security Council and the National Convention being directed by our extremely passionate and dedicated Secretariat members.
			br
			br
			| As we approach the completion of the first decade of SMUN, we do hope and believe that with the continuous and enthusiastic participation of students and schools from across India and Asia, SMUN will continually grow to become bigger and better, year after year. It is with this hope that I invite you to be a part of this edition of SMUN and become an integral part of making SMUN 2020 a true success.
			br
			br
			| Looking forward to see you in April 
			br
			br
			| Yours sincerely,
			br
			br
			img(src="images/secGenSignature.png" style="height: 100px")
			br
			br
			| Aarrnesh Kapoor
			br
			| Secretary General
			br
			| Sanskriti Model United Nations 2020
			br
			br
			hr
			br
		//- Under secretary general letter
		h3.titleOne Dear delegates and faculty advisors
		p(style="font-weight: bold")
			| “Sometimes it falls upon a generation to be great. You be that great generation. Let your greatness blossom…not to do this would be a crime against humanity…”
			br
			| - Nelson Mandela

		p
			| It is my great honour and privilege to welcome you to the ninth edition of Sanskriti Model United Nations (SMUN) being held in the year 2020. 
			br
			br
			| SMUN was established to take education beyond our classrooms and textbooks; to create leaders of tomorrow. An ever-changing world with new challenges and the re-emergence of historical fault-lines needs leaders capable of thinking for the global community as a whole. 
			br
			br
			| The contemporary liberal world order is being stretched to its limits due to the rise of right-wing populism and parochial world views adopted by many leaders across the world. Countries which were the anchors for upholding this very world order are becoming narrow in their outlooks. At this critical juncture, we need leaders committed to equality, justice, and freedom with a vision to think beyond the prism of narrow nationalism and to work for humanity as a whole.
			br
			br
			| Sanskriti MUN provides an excellent platform for students from across India and abroad to develop and equip themselves for such a future where each individual works not just for his or her own community but for the global community as one. 
			br
			br
			| Sanskriti MUN has always aimed to imbibe principles of diplomacy, cooperation, collaboration, and negotiation - all skills that will surely be of paramount importance in a world of multiple ideas. 
			br
			br
			| I encourage all participants in SMUN 2020 to use this conference as a forum to expand their horizons, understand the different points of view, and, most importantly, become more accepting and receptive to differences around the world.  
			br
			br
			| I look forward to welcoming you to Sanskriti Model United Nations, 2020, with the aspiration  that all of you will make a difference one day, and be the change you want to see in the world.
			br
			br
			| Yours sincerely,
			br
			br
			img(src="images/USGsign.png" style="height: 100px")
			br
			br
			| Aadyot Prakash
			br
			| Under Secretary General
			br
			| Sanskriti Model United Nations 2020