section.secretariatSection
	div.widthRestriction
		h1.headPattern#secretariatPoint The Secretariat
		div.cardsContainer#USEC
			
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/arneshKapoor.JPG").secCardPicture
					div.secCardContent
						p.secCardName Aarrnesh Kapoor
						p.secCardDesignation Secretary General
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/aadyotPrakash.JPG").secCardPicture
					div.secCardContent
						p.secCardName Aadyot Prakash
						p.secCardDesignation Under Secretary General

			br

			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/mahikaRoy.JPG").secCardPicture
					div.secCardContent
						p.secCardName Mahika Roy
						p.secCardDesignation
							| Director General
							br 
							| Conference

			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/aryaveerSingh.JPG").secCardPicture
					div.secCardContent
						p.secCardName Aryaveer Singh
						p.secCardDesignation
							| Director General
							br 
							| Committees
			
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/ishaanKanudia.JPG").secCardPicture
					div.secCardContent
						p.secCardName Ishaan Kanudia
						p.secCardDesignation 
							| Upper Secretariat Member
							br
							|
							br
							|

			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/kartikGupta.JPG").secCardPicture
					div.secCardContent
						p.secCardName Kartik Gupta
						p.secCardDesignation 
							| Upper Secretariat Member
							br
							|
							br
							|


		div.cardsContainer#TechOps
			mark
				h2.subHeadsSec The Technical Operations Team
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/amartyaChakraboorty.JPG").secCardPicture
					div.secCardContent
						p.secCardName.bigName Amartya Chakraborty
						br
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/jayaniTripathi.JPG").secCardPicture
					div.secCardContent
						p.secCardName Jayani Tripathi
						br
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/karthikayKatariya.JPG").secCardPicture
					div.secCardContent
						p.secCardName Kartikay Kataria
						br
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/krishGoel.JPG").secCardPicture
					div.secCardContent
						p.secCardName Krish Goel
						br

		div.cardsContainer#OC
			mark
				h2.subHeadsSec The Organising Committee
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/ananyaOberoi.JPG").secCardPicture
					div.secCardContent
						p.secCardName Ananya Oberoi
					br
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/anyaRaghuvanshi.JPG").secCardPicture
					div.secCardContent
						p.secCardName Anya Raghuvanshi
					br
			//- Card init
			div.column-4
				div.secCard
					img(src="images/secProfiles/chetanshi.JPG").secCardPicture
					div.secCardContent
						p.secCardName Chetanshi Singh
					br
			br
			br
			br

		//- div.cardsContainer#Sec
		//- 	mark
		//- 		h2.subHeadsSec The Committee Directors
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/aadyotPrakash.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Aadyot Prakash
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| UNSC
		//- 	
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/aditiTuli.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Aditi Tuli
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| UNCSW
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/akshitGupta.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Akshit Gupta
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| DISEC
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/anmolMaini.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Anmol Maini
		//- 				p.secCardDesignation 
		//- 					| Editor
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/arjunKochhar.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Arjun Kochhar
		//- 				p.secCardDesignation 
		//- 					| Editor-in-Chief
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/aryaveerSingh.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Aryaveer Singh
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| ECOFIN
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/ishaanKanudia.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Ishaan Kanudia
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Allied Powers
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/ishaniKhemka.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Ishani Khemka
		//- 				p.secCardDesignation 
		//- 					| Head of Journalists
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/kartikGupta.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Kartik Gupta
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Axis Forces
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/karthikayKatariya.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Kartikay Kataria
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| UNSC
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/mahikaRoy.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Mahika Roy
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| National Convention - 1793
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/mallikaSharma.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Mallika Sharma
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| UNCSW
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/nikitaSrivastava.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Nikita Shrivastava
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Lok Sabha
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/ojasAnand.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Ojas Anand
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Gaddafi's Cabinet
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/rushilBatra.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Rushil Batra
		//- 				p.secCardDesignation 
		//- 					| Head of Photography
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/shivanIyer.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Shivan Iyer
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Gaddafi's Cabinet
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/shreyasMenon.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Shreyas Menon
		//- 				p.secCardDesignation 
		//- 					| Head of Cartoonists
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/srijanTripathi.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Srijan Tripathi
		//- 				p.secCardDesignation 
		//- 					| Head of Photography
		//- 					br
		//- 					| UNCA
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/tapas.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Tapas Deviah
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Lok Sabha
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/raghavSarangi.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Raghav Sarangi
		//- 				p.secCardDesignation 
		//- 					| Director
		//- 					br
		//- 					| Allied Powers
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/akshajGyaneshwar.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Akshaj Gyaneshwar
		//- 				p.secCardDesignation 
		//- 					| Additional Director
		//- 					br
		//- 					| DISEC
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/arunimaKaul.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Arunima Kaul
		//- 				p.secCardDesignation 
		//- 					| Additional Director
		//- 					br 
		//- 					| ECOFIN
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/avyuktSachdeva.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Avyukt Sachdeva
		//- 				p.secCardDesignation 
		//- 					| Additional Director
		//- 					br
		//- 					| Lok Sabha
		//- 	//- Card init
		//- 	div.column-4
		//- 		div.secCard
		//- 			img(src="images/secProfiles/yashDeswal.JPG").secCardPicture
		//- 			div.secCardContent
		//- 				p.secCardName Yash Deswal
		//- 				p.secCardDesignation 
		//- 					| Additional Director
		//- 					br
		//- 					| Allied Powers