
<section class="secretariatSection">
  <div class="widthRestriction">
    <h1 class="headPattern">The Secretariat</h1>
    <div class="cardsContainer" id="USEC">
      <mark>
        <h2 class="subHeadsSec">The Upper Secretariat</h2>
      </mark>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/kartikGupta.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Kartik Gupta</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/ishaanKanudia.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Ishaan Kanudia</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/mahikaRoy.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Mahika Roy</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/aryaveerSingh.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Aryaveer Singh</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/aadyotPrakash.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Adyot Prakash</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/arneshKapoor.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Aarnesh Kapoor</p>
            <p class="secCardDesignation">Upper Secretariat Member</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cardsContainer" id="TechOps">
      <mark>
        <h2 class="subHeadsSec">The Technical Operations Team</h2>
      </mark>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/amartyaChakraboorty.JPG"/>
          <div class="secCardContent">
            <p class="secCardName bigName">Amartya Chakraborty</p>
            <p class="secCardDesignation">Director of Tech Ops</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/jayaniTripathi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Jayani Tripathi</p>
            <p class="secCardDesignation">Director of Tech Ops</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/karthikayKatariya.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Kartikay Kataria</p>
            <p class="secCardDesignation">Director of Tech Ops</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/krishGoel.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Krish Goel</p>
            <p class="secCardDesignation">Director of Tech Ops</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cardsContainer" id="OC">
      <mark>
        <h2 class="subHeadsSec">The Organising Committee</h2>
      </mark>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/ananyaOberoi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Ananya Oberoi</p>
            <p class="secCardDesignation">Additional Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/anyaRaghuvanshi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Anya Raghuvanshi</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/chetanshi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Chetanshi Singh</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cardsContainer" id="Sec">
      <mark>
        <h2 class="subHeadsSec">The Committee Directors</h2>
      </mark>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/aadyotPrakash.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Adyot Prakash</p>
            <p class="secCardDesignation">
               Director<br/>UNSC</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/arneshKapoor.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Aarnesh kapoor</p>
            <p class="secCardDesignation"> </p>Director<br/>Special session on Honk Kong
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/aditiTuli.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Aditi Tuli</p>
            <p class="secCardDesignation"> </p>Director<br/> 
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/akshitGupta.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Akshit Gupta</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/anmolMaini.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Anmol Maini</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/arjunKochhar.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Arjun Kochhar</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/aryaveerSingh.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Aryaveer Singh</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/ishaanKanudia.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Ishaan Kanudia</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/ishaniKhemka.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Ishani Khemka</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/kartikGupta.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Kartik Gupta</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/karthikayKatariya.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Kartikay Kataria</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/mahikaRoy.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Mahika Roy</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/mallikaSharma.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Mallika Sharma</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/nikitaSrivastava.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Nikita Shrivastava</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/ojasAnand.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Ojas Anand</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/rushilBatra.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Rushil Batra</p>
            <p class="secCardDesignation">Head of Photography</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/shivanIyer.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Shivan Iyer</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/shreyasMenon.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Shreyas Menon</p>
            <p class="secCardDesignation">Head of Cartoonists</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/srijanTripathi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Srijan Tripathi</p>
            <p class="secCardDesignation">Head of Photography</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/tapas.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Tapas Dev</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/raghavSarangi.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Raghav Sarangi</p>
            <p class="secCardDesignation">Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/akshajGyaneshwar.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Akshaj Gyaneshwar</p>
            <p class="secCardDesignation">Additional Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/arunimaKaul.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Arunima Kaul</p>
            <p class="secCardDesignation">Additional Director</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/avyuktSachdeva.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Avyukt Sachdeva</p>
            <p class="secCardDesignation">
               Additional Director<br/>AIPPM</p>
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="secCard"><img class="secCardPicture" src="images/secProfiles/yashDeswal.JPG"/>
          <div class="secCardContent">
            <p class="secCardName">Yash Deswal</p>
            <p class="secCardDesignation">Additional Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>