div.emptyNav
nav#topnav
	div.widthRestriction
		h1.logo
			img(src="images/smun.png" style="height: 70px")
		br
		div.topnavLinksContainer#topnavLinksContainer
			a(href="#aboutPoint").topnavLink About
			a(href="#secretariatPoint").topnavLink Secretariat
			a(href="#committeesPoint").topnavLink Committees
			a().topnavLink
				button.registerButton Registrations open soon