div.emptyNav
nav#topnav
	div.widthRestriction
		h1.logo SMUN 2020
		br
		div.topnavLinksContainer#topnavLinksContainer
			a(href="/disec").topnavLink About
			a().topnavLink Secretariat
			a().topnavLink Committees
			a().topnavLink
				button.registerButton Registrations open soon