div.emptyNav
nav#topnav
	div.widthRestriction
		h1.logo SMUN 2020
		//- br
		//- div.topnavLinksContainer#topnavLinksContainer
		//- 	a().topnavLink About
		//- 	a().topnavLink Secretariat
		//- 	a().topnavLink Committees
		//- 	a().topnavLink Resources
		//- 	a().topnavLink
		//- 		button.registerButton Register